[alias]
	pushed = "! f() { git tag --contains $1 | grep deploy_ | sort | rev | uniq -s17 | rev; }; f "
	changed = ! git diff --diff-filter=ACMRTUX --name-only master
	changed-diff = ! git diff --diff-filter=ACMRTUX `git merge-base HEAD upstream/master`
	pychanged = ! git changed | grep -v thrift | grep -v ttypes | egrep '.py$'
	check = "! f() { echo '** pep8 **'; pep8 --show-source --max-line-length=120 $*; echo '** pyflakes **'; pyflakes $*; }; f $(git pychanged)"
[user]
	email = dkislyuk@pinterest.com
	name = Dmitry Kislyuk
